#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

.accordion-wrap {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 10px 15px -3px hsla(0, 0%, 0%, 0.1);
  margin-top: 7.5rem;
  padding: 2.5rem;
  width: min(45rem, 90vw);
}

h1:before {
  content: url("./assets/images/icon-star.svg");
  display: inline-block;
  padding-right: 1rem;
  vertical-align: middle;
}

h3 {
  font-size: 1rem;
}


button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
}

.panel {
    border-bottom: 1px solid #eee;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.panel:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

button:hover {
    color: hsl(276, 78%, 55%);
}