#root {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.accordion-wrap {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    width: 40vw;
}