:root {
  font-family: "Work Sans Variable", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: hsl(292, 42%, 14%);
  background: url("/background-pattern-desktop.svg") no-repeat center top
    hsl(276, 100%, 97%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

p {
  color: hsl(292, 16%, 49%);
  margin-top: 2rem;
}

a {
  color: hsl(276, 78%, 55%);
  transition: 300ms ease-in-out;
}

a:hover {
  color:hsl(292, 42%, 14%);
}

a:visited {
  color: hsl(292, 16%, 49%);
}

footer {
  font-size: 0.8rem;
  text-align: center;
}
